:root {
  --primary: rgba(23, 26, 32, 0.8);
  --secundary: rgb(57, 60, 65);
  --white: white;
}

* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: var(--secundary);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

button {
  border: none;
  font-weight: bold;
}

a {
  color: var(--primary);
  text-underline-offset: 0.15em;
}

ul li > a,
li > a,
li {
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

@keyframes animateDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(3px);
  }
}
